body{
	margin-top: 100px;
}
.navig {
	background-color: rgb(9, 25, 42);
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	padding: 5px;
}
#nav{
	padding-right: 10px;
	color: white;
}
#header{
	background-color: rgb(9, 25, 42);
}